* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
}

#keyboard {
  z-index: 20;
  margin: 50px auto 20px;
  width: 800px;
  height: 315px;
  background: #bbb;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.27, rgb(212, 216, 219)),
      color-stop(0.64, rgb(213, 217, 220)),
      color-stop(0.95, rgb(230, 233, 235)),
      color-stop(1, rgb(191, 191, 191)));
  background-image: -moz-linear-gradient(center bottom,
      rgb(212, 216, 219) 27%,
      rgb(213, 217, 220) 64%,
      rgb(230, 233, 235) 95%,
      rgb(191, 191, 191) 100%);
  -moz-border-radius-topleft: 7px 21px;
  -moz-border-radius-topright: 7px 21px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 7px 21px;
  border-top-right-radius: 7px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 50px 0 0;
  -webkit-box-shadow:
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
  -moz-box-shadow:
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
  box-shadow:
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
}

ul {
  list-style-type: none;
  width: 784px;
  margin: 0 auto;
}

li {
  float: left;
}


.key {
  display: block;
  color: #aaa;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  width: 44px;
  height: 41px;
  margin: 5px;
  background: #eff0f2;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  -webkit-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  -moz-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  text-shadow: 0px 1px 0px #f5f5f5;
  filter: dropshadow(color=#f5f5f5, offx=0, offy=1);
}

.key:active,
.keydown {
  color: #888;
  background: #ebeced;
  margin: 7px 5px 3px;
  -webkit-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  -moz-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  border-top: 1px solid #eee;
}

.fn span {
  display: block;
  margin: 14px 5px 0 0;
  text-align: right;
  font: bold 6pt arial;
  text-transform: uppercase;
}

#esc {
  margin: 6px 15px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;
}


#numbers li a span {
  display: block;
}

#numbers li a b {
  margin: 3px 0 3px;
  display: block;
}

#numbers li .alt b {
  display: block;
  margin: 0 0 3px;
}

#numbers li #delete span {
  text-align: right;
  margin: 23px 10px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;
}

#qwerty li a span {
  display: block;
  margin: 13px 0 0;
  text-transform: uppercase;
}

#qwerty li #tab span {
  text-align: left;
  margin: 23px 0 0 10px;
  font-size: 7.5pt;
  text-transform: lowercase;
}

#qwerty li .alt b {
  display: block;
  margin: 3px 0 0;
}

#qwerty li .alt span {
  margin: 2px 0 0;
}


#asdfg li a span {
  display: block;
  margin: 13px 0 0;
  text-transform: uppercase;
}

#asdfg li .alt span {
  margin: 0;
  text-transform: lowercase;
}

#asdfg li .alt b {
  display: block;
  margin: 3px 0 0;
}

#asdfg li #caps b {
  display: block;
  background: #999;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  margin: 9px 0 0 10px;
  -webkit-box-shadow: inset 0 1px 0 #666;
  -moz-box-shadow: inset 0 1px 0 #666;
  box-shadow: inset 0 1px 0 #666;
}

#asdfg li #caps span {
  text-align: left;
  margin: 10px 0 0 10px;
  font-size: 7.5pt;
}

#asdfg li #enter span {
  text-align: right;
  margin: 23px 10px 0 0;
  font-size: 7.5pt;
}


#zxcvb li a span {
  display: block;
  margin: 13px 0 0;
  text-transform: uppercase;
}

#zxcvb li .shiftleft span {
  text-align: left;
  margin: 23px 0 0 10px;
  font-size: 7.5pt;
  text-transform: lowercase;
}

#zxcvb li .shiftright span {
  text-align: right;
  margin: 23px 10px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;
}

#zxcvb li .alt b {
  display: block;
  margin: 4px 0 0;
}

#zxcvb li .alt span {
  margin: 0;
}


#bottomrow li #fn span,
#bottomrow li #control span,
#bottomrow li #optionleft span,
#bottomrow li #commandleft span {
  display: block;
  text-align: left;
  margin: 31px 0 0 8px;
  font-size: 7.5pt;
  text-transform: lowercase;
}

#bottomrow li #optionright span,
#bottomrow li #commandright span {
  display: block;
  text-align: right;
  margin: 31px 8px 0 0;
  font-size: 7.5pt;
  text-transform: lowercase;
}

#bottomrow ol li #left span,
#bottomrow ol li #right span,
#bottomrow ol li #up span,
#bottomrow ol li #down span {
  display: block;
  margin: 9px 0 0;
}

.fn {
  height: 26px;
  width: 46px;
}

#delete {
  width: 72px;
}

#tab {
  width: 72px;
}

#caps {
  width: 85px;
}

#enter {
  width: 85px;
}

.shiftleft,
.shiftright {
  width: 112px;
}

#fn,
#control,
.option,
.command,
#spacebar {
  height: 49px;
}

#control {
  width: 56px;
}

.option {
  width: 46px;
}

.command {
  width: 67px;
}

#spacebar {
  width: 226px;
}

#left img,
#up img,
#down img,
#right img {
  border: none;
}

ul ol {
  list-style-type: none;
}

#down {
  height: 23px;
  font-size: 8px;
}

#up,
#left,
#right {
  height: 24px;
  font-size: 8px;
}

#left,
#right {
  margin: 30px 5px 5px;
}

#left:active,
#right:active {
  margin: 32px 5px 3px;
}

#up {
  margin: 5px 5px 1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#up:active {
  margin: 8px 5px -2px;
}

#down {
  margin: 0 5px 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#down:Active {
  margin: 3px 5px 4px;
}

#paper1,
#paper2,
#paper3 {
  display: block;
  width: 500px;
  height: 200px;
  background: #fff;
  margin: 50px auto 20px;
  border: 1px solid #fff;
  padding: 20px;
  -webkit-box-shadow:
    inset 0 0 15px #f9f9f9,
    0 0 5px #e5e5e5;
  -moz-box-shadow:
    inset 0 0 15px #f9f9f9,
    0 0 5px #e5e5e5;
  box-shadow:
    inset 0 0 15px #f9f9f9,
    0 0 5px #e5e5e5;
}

#paper1 {
  margin: 50px auto 20px;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  zoom: 1;
}

#paper2 {
  margin: -265px auto 0;
  -moz-transform: rotate(0.5deg);
  -webkit-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  -ms-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
  zoom: 1;
}

#paper3 {
  margin: -240px auto 100px;
  -moz-transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  -me-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
  zoom: 1;
}

#paper3:focus {
  outline: none;
}