@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost/Jost-Regular.ttf");
}

@font-face {
  font-family: "JostThin";
  src: url("./assets/fonts/Jost/Jost-Light.ttf");
}

html,
body {
  color: #fff;
  background-color: #232e32;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  user-select: none;
}

#headTitle {
  font-family: "Poppins";
  text-align: center;
  color: #FFF2E9;
  font-size: 54px;
  margin-bottom: 0;
}

#topData {
  font-size: 20px;
  margin-top: 62px;
}

#bottomData {
  font-size: 18px;
  margin-top: 40px;
}

#moreButton {
  margin-top: 30px;
  background: rgba(190, 190, 190, 0.19);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 145px;
  height: 55px;
  border: none;
  font-size: 35px;
  line-height: 51px;
  color: #c2c2c2;
  outline: none;
}

#moreButton:hover {
  transition: 0.1s ease-in-out;
  color: #d6d6d6;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  background: rgba(190, 190, 190, 0.26);
}

#moreButton:active {
  transition: 0.1s ease-in-out;
  color: #c7c7c7;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  background: rgba(190, 190, 190, 0.22);
}

#credits {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  font-family: "JostThin";
}

.separator {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  height: 1px;
  width: 80%;
}

.titleSeparator {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  height: 1px;
  width: 500px;
}

.Jost {
  font-family: "Jost";
}

a:link {
  color: rgb(0, 187, 255);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 187, 255);
  background-color: transparent;
  text-decoration: underline;
}